/* style for text */
* {
  font-family: "Roboto", sans-serif;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: black;
}
.part-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #2196f3;
}
a {
  text-decoration: none;
}
.listTab {
  display: inline-flex;
}
.main-menu {
  color: black;
  font-weight: 700;
  font-size: 14px;
}
.main-menu:hover,
.main-menu:focus {
  color: #2196f3;
}
li.active a span {
  color: #2196f3;
}
.listTab li a span {
  float: left;
  padding: 10px 18px;
  margin-right: 4px;
  word-wrap: normal;
  font-size: 15px;
  margin-bottom: 20px;
}
h1 {
  font-size: 44px;
}
